<a href="https://colab.research.google.com/github/akukudala/Data_601/blob/main/Assignment03/Assignment03_601_csvoutput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment 03
* Name: Akshitha Kukudala
* Date: 3/1/2022

In [36]:
pip install Faker

Requirement already satisfied: Faker in /usr/local/lib/python3.7/dist-packages (13.3.0)
Requirement already satisfied: python-dateutil>=2.4 in /usr/local/lib/python3.7/dist-packages (from Faker) (2.8.2)
Requirement already satisfied: typing-extensions>=3.10.0.2 in /usr/local/lib/python3.7/dist-packages (from Faker) (3.10.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.4->Faker) (1.15.0)

In [37]:
def mainfunc():
    try:
      intval = int(input("Enter the no. of rows to be generated in a file?   "))
      print("", intval)
    except ValueError:
      print("Only integer values are accepted")
    return intval
n= mainfunc()

Enter the no. of rows to be generated in a file?   10
 10

In [38]:
from faker import Faker
fake = Faker()

email_list=[]

for val in range(0,n):
    val = fake.email()
    email_list.append(val)
print(email_list)

['lovenicole@example.com', 'amandafranklin@example.net', 'gwendolynyoung@example.org', 'samantha21@example.net', 'karenwilliams@example.net', 'tkirby@example.com', 'weaveranita@example.org', 'gamblerichard@example.org', 'rogercabrera@example.net', 'ewhite@example.com']

In [39]:
import random

phn_list=[]

for val in range(0,n):
    val = random.randint(811,999)
    val2 = random.randint(111,199)
    val3 = random.randint(1000,9999)
    phn_list.append("("+str(val)+") "+str(val2)+"-"+str(val3))
print(phn_list)

['(976) 131-1172', '(938) 138-8205', '(886) 177-6978', '(828) 145-5983', '(868) 182-2377', '(904) 183-1508', '(865) 114-4638', '(962) 112-8122', '(862) 140-7256', '(957) 164-2326']

In [40]:
address_list=[]

for val in range(0,n):
    val = fake.address()
    val = val.replace("\n"," ")
    val = val.replace(","," ")
    address_list.append(val)
print(address_list)

['865 Martin Park Apt. 517 Katherineton  WI 64615', '9095 Christopher Rapids Lake Kimberlyfort  NE 16586', '273 Newman Track Suite 820 South Ronaldburgh  CO 07326', '9348 Reed Camp Apt. 877 Mariastad  AZ 85295', '999 Torres Vista Apt. 656 Millerchester  ND 31940', '342 Anna Lodge Suite 930 New Kirktown  MO 00668', '51517 Carl Fords West Hunterbury  NE 95513', '5316 Madison Radial Cooperton  KS 78173', '902 Wilson Extension Apt. 872 New Alexis  AK 56002', '2008 Travis Square Suite 978 South Jessicaton  OR 02921']

In [41]:
name_list=[]

for val in range(0,n):
    val = fake.name()
    name_list.append(val)
print(name_list)

['Thomas Bauer', 'Andrea Gaines', 'Bruce Ruiz', 'Amanda White', 'Amanda Perez', 'Patricia Shannon', 'Justin Lee', 'Sonya Hall', 'Brandon Johnson', 'Allison Tucker']

In [42]:
year_list=[]

for val in range(0,n):
    val = random.randint(1950, 1990)
    
    year_list.append(val)
print(year_list)

[1970, 1960, 1953, 1954, 1968, 1983, 1977, 1979, 1986, 1977]

In [43]:
import re
nkids_list=[]

for val in range(0,n):
    val = random.randint(0, 4)
    
    nkids_list.append(val)
print(nkids_list)

[1, 4, 4, 0, 0, 0, 2, 0, 1, 2]

In [44]:
rent_options=['RENT','OWN']
rent_list=[]

for val in range(0,n):
    val = random.choice(rent_options)
    rent_list.append(val)
print(rent_list)

['RENT', 'RENT', 'OWN', 'OWN', 'RENT', 'OWN', 'RENT', 'OWN', 'RENT', 'RENT']

In [45]:
income_list=[]

for val in range(0,n):
    strline = random.randint(701999, 3606999)
    
    income_list.append("$"+str(strline))
print(income_list)

['$1669440', '$779131', '$2244872', '$3038251', '$2200112', '$1065202', '$771023', '$919228', '$991306', '$1091208']

In [46]:
sptickets_list=[]

for line in range(0,n):
    strline = random.randint(0, 9)
    
    sptickets_list.append(strline)
print(sptickets_list)

[3, 8, 0, 2, 4, 2, 3, 3, 3, 9]

In [47]:
top2_list=["Email address","Phone Number","Home Address","Person's Name","Year born","Number of kids","rent/own","Annual Income","Speeding Tickets"]

In [49]:
with open("outputformatc1.csv",'w') as cleansed_file:
    for i in top2_list:
        cleansed_file.write(f"{i},")
        
    cleansed_file.write(f"\n")
    for j in range(n):
        cleansed_file.write(f"{email_list[j]},{phn_list[j]},{address_list[j]},{name_list[j]},{year_list[j]},{nkids_list[j]},{rent_list[j]},{income_list[j]},{sptickets_list[j]}\n")